<!-- SIDEBAR -->
<section id="sidebar">
    <a href="#" class="brand"><i class='bx bxs-smile icon'></i>Dashboard</a>
    <ul class="side-menu">
        <li><a href="{% url 'dashboard:home' %}"><i class='bx bxs-dashboard icon' ></i> Dashboard</a></li>
        <li class="divider" data-text="main">Main</li>
        <li>
            <a href=""><i class='bx bxs-inbox icon' ></i> User <i class='bx bx-chevron-right icon-right' ></i></a>
            <ul class="side-dropdown">
                <li><a href="{% url 'dashboard:user_list' %}">User</a></li>
                <li><a href="{% url 'dashboard:doctor_list' %}">Doctor</a></li>
                <li><a href="{% url 'dashboard:patient_list' %}">Patient</a></li>
            </ul>
        </li>
    </ul>
</section>
<!-- SIDEBAR -->